/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 12rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  background: linear-gradient(110deg, var(--ifm-color-primary-darkest) 52%, var(--ifm-color-primary) 48%);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroTitleStyle {
  text-shadow: 2px 2px black;
}

[data-theme='dark'] .heroTitleStyle {
  text-shadow: 2px 2px white;
}

.heroButton {
  background-color: white;
  border: 0px;
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s; /* Add transition for smoother hover effect */
}

.heroButton:hover {
  background-color: black; /* Change background color on hover */
  color: white; /* Change text color on hover */
}