version: "3.3"
services:
  openhouse-tables:
    container_name: local.openhouse-tables
    extends:
      file: ../common/oh-services.yml
      service: openhouse-tables
    volumes:
      - ./:/var/config/
    depends_on:
      - openhouse-housetables
      - namenode
      - datanode
      - prometheus
      - opa
      - jaeger
    environment:
      - OTEL_SERVICE_NAME=openhouse-tables
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=none
      - OTEL_LOGS_EXPORTER=none
      - OTEL_TRACES_SAMPLER=always_on

  openhouse-jobs:
    container_name: local.openhouse-jobs
    extends:
      file: ../common/oh-services.yml
      service: openhouse-jobs
    volumes:
      - ./:/var/config/
    depends_on:
      - openhouse-housetables
      - prometheus
      - jaeger
    environment:
      - OTEL_SERVICE_NAME=openhouse-jobs
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=none
      - OTEL_LOGS_EXPORTER=none
      - OTEL_TRACES_SAMPLER=always_on

  openhouse-jobs-scheduler:
    container_name: local.openhouse-jobs-scheduler
    extends:
      file: ../common/oh-services.yml
      service: openhouse-jobs-scheduler
    volumes:
      - ./:/var/config/
    depends_on:
      - openhouse-tables
      - openhouse-jobs
      - prometheus
      - namenode

    profiles:
      - with_jobs_scheduler

  openhouse-housetables:
    container_name: local.openhouse-housetables
    extends:
      file: ../common/oh-services.yml
      service: openhouse-housetables
    volumes:
      - ./:/var/config/
    depends_on:
      - prometheus
      - mysql
      - jaeger
    environment:
      - HTS_DB_USER=oh_user
      - HTS_DB_PASSWORD=oh_password
      - OTEL_SERVICE_NAME=openhouse-housetables
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=none
      - OTEL_LOGS_EXPORTER=none
      - OTEL_TRACES_SAMPLER=always_on

  jaeger:
    container_name: local.jaeger
    image: jaegertracing/all-in-one:1.54
    ports:
      - 16686:16686
      - 4317:4317
      - 4318:4318
    environment:
      - COLLECTOR_OTLP_ENABLED=true

  prometheus:
    extends:
      file: ../common/oh-services.yml
      service: prometheus

  namenode:
    container_name: local.namenode
    extends:
      file: ../common/hdfs-services.yml
      service: namenode
    volumes:
      - hadoop_namenode:/hadoop/dfs/name

  datanode:
    container_name: local.datanode
    extends:
      file: ../common/hdfs-services.yml
      service: datanode
    volumes:
      - hadoop_datanode:/hadoop/dfs/data

  spark-master:
    container_name: local.spark-master
    extends:
      file: ../common/spark-services.yml
      service: spark-master

  spark-worker-a:
    container_name: local.spark-worker-a
    extends:
      file: ../common/spark-services.yml
      service: spark-worker-a
    depends_on:
      - spark-master

  spark-livy:
    container_name: local.spark-livy
    extends:
      file: ../common/spark-services.yml
      service: spark-livy
    depends_on:
      - spark-master

  mysql:
    container_name: local.mysql
    extends:
      file: ../common/mysql-services.yml
      service: mysql

  opa:
    container_name: local.opa
    extends:
      file: ../common/opa-services.yml
      service: opa

volumes:
  hadoop_namenode:
  hadoop_datanode:
