name: Gradle Build and Run Tests

on:
  workflow_call: # Allow to be run by other workflows

jobs:
  build-and-run-tests:
    name: Build and Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          distribution: 'microsoft'
          java-version: '17'

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Build with Gradle
        run: ./gradlew clean build

      - name: Start Docker Containers
        run: docker compose -f infra/recipes/docker-compose/oh-only/docker-compose.yml up -d --build

      - name: Wait for Docker Containers to start
        run: sleep 60

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install -r scripts/python/requirements.txt

      - name: Run Integration Tests
        run: python scripts/python/integration_test.py ./tables-test-fixtures/tables-test-fixtures-iceberg-1.2/src/main/resources/dummy.token

      - name: Stop Docker Containers
        run: docker compose -f infra/recipes/docker-compose/oh-only/docker-compose.yml down